@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-10 w-36 transform rounded-lg p-2 font-ubuntu font-bold uppercase transition ease-linear hover:scale-105 hover:shadow-xl active:scale-95;
  }

  .btn-primary {
    @apply bg-green-900;
  }

  .btn-secondary {
    @apply bg-black;
  }
}

@layer utilities {
  button {
    position: relative;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: whitesmoke;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

  .fill-animation:hover {
    color: whitesmoke;
  }

  .fill-animation:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.2s ease-in;
  }

  .fill-animation:hover:before {
    top: 0;
  }
}
